  a { text-decoration: none; color: #2ecc71; }
  a:hover { color: #27ae60; }
  header {
    height: 40px;
    background-color: #333;
    text-align: center;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
  }
  header a {
    color: #27ae60;
    font-size: 22px;
  }
  h2 { text-align: center; }
  h3 { margin: 0; font-size: 22px; }
  .main { margin: 0 auto; }
  .storyText { margin-top: 8px; }
  .comments {
    color: #1abc9c;
    cursor: pointer;
    font-size: 20px;
  }
  .comments:hover { color: #16a085; }
  .story-by:hover,
  .comment-by:hover{ color: #bdc3c7; }
  .comment {
    padding: 0 4px;
    border: 1px solid #444;
    margin-top: 4px;
  }
  .comment-text { padding: 8px; overflow-x: scroll; }
  .toggle-comment { color: #1abc9c; cursor: pointer; }
  .toggle-comment:hover { color: #16a085; }
  .hnLink { color: #e67e22; }
  .hnLink:hover { color: #d35400; }
  .copyright {
    text-align:center;
    font-size:10px;
    margin-top: 40px;
  }
  @media (min-width: 720px) {
    .toggle-view{ display: inline; }
    .main { max-width: 80%; }
  }
  @media (max-width: 1000px) {
    .main { max-width: 100%; }
  }

  .heading button{
    position: absolute;
    right: 60px;
    top: 35px;
  }
  .dark-mode {
    background-color: #282828;
    font-family: "Comic Sans MS", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #bdc3c7;
    margin: 0 0 65px 0;
  }
  .dark-mode .story {
    margin: 4px;
    padding: 8px;
    /*border: 2px solid #fff;
    border-radius: 15px;*/
  }
  .dark-mode .score {
    font-size: 20px;
    color: #f1c40f;
    margin-right: 4px;
    margin-left: 30px;
  }
  .dark-mode .story-by,
  .dark-mode .comment-by{
    font-size: 20px;
    color: #f1c40f;
    margin-left: 4px;
    margin-right: 4px;
  }

  /*light mode*/
  .light-mode{
    background-color: #FFFFDD;
    font-family: "Comic Sans MS", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #0c0d0e;
    margin: 0 0 65px 0;
  }
  .light-mode .story{
    margin: 4px;
    padding: 8px;
    border: 2px sol/*id #0c0d0e;
    border-radius: 15px;*/
  }
  .light-mode .score{
    font-size: 20px;
    color: #ce0c0c;
    margin-right: 4px;
    margin-left: 30px;
  }
  .light-mode .story-by,
  .light-mode .comment-by{
    font-size: 20px;
    color: #ce0c0c;
    margin-left: 4px;
    margin-right: 4px;
  }
  /*modal*/
  .modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content{
    position: relative;
    right: -5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 90%;
    height: 90%;
    border-radius: 0.5rem;
  }
  .close-button{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  iframe{
    width: 100%;
    height: 90%;
    margin-top: 15px;
  }